body {
  width: 26em;
}

<<<<<<< Updated upstream
.accordion-toggle {
=======
label {
  display: block;
>>>>>>> Stashed changes
}

.folder-toggle {
  display: inline-block;
  user-select: none;
  padding: 0;
  margin: 0% 2%;
}

.rotated {
  transform: rotate(90deg);
}

<<<<<<< Updated upstream
a {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
=======
.folder-contents {
  padding-left: 1.1em;
>>>>>>> Stashed changes
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0% 2% 0% 0.5%;
}

a {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

p {
  display: inline;
}
